#header {
  display: block;
}

#header .logo img{
    height: 100px;
    padding: 0.75em 0.75em 0.75em 0.75em;
    text-align: center;
    display: block;
    width: 100%;
}

#centerbar {
  margin-top: 10px;
  width: 100%;
}

#chat {
 -moz-border-radius-topleft: 25px;
 -webkit-border-top-left-radius: 25px;
 border-top-left-radius: 25px;
 
 -moz-border-radius-topright: 25px;
 -webkit-border-top-right-radius: 25px;
 border-top-right-radius: 25px;
 
 -moz-border-radius-bottomright: 5px;
 -webkit-border-bottom-right-radius: 5px;
 border-bottom-right-radius: 5px;
 
 -moz-border-radius-bottomleft: 5px;
 -webkit-border-bottom-left-radius: 5px;
 border-bottom-left-radius: 5px;
 
 min-width: 400px;
 min-height: 120px;
 
 padding-left: 25px;
 margin-right: 5px;
 background-color: white;
 float: right;
}

#chat pre {
  word-wrap: break-word;
  font-size: 0.75em;
}

.menu {
  margin: 0 0 1em 0;
  border: 0;
  width: 100%;
  padding-left: 0.5em;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #0a504b;
}

.social {
    padding-left: 4em;
}
a {
    color:#0a504b;
}
nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1em 0.5em 0 0.5em;
    height: inherit;
    font-size: 1.125em;
    background-color: #0a504b;
    vertical-align: bottom;
}

nav a:hover {
    background-color: #009d91;
}

nav{
    background-color: #0a504b;
    vertical-align: bottom;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

nav li{
  display: inline;
}

article {
  /*border: 1px dashed black;*/
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  
  vertical-align: top;
}

article h1 {
  margin-bottom: 0;
  margin-top: 2px;
  color: #009D91;
}

article time {
  float: left;
  word-wrap: break-word;
}

article p {
  margin-top: 0;
}

article time span {
  font-size: 2em;
  display:block;
}

#tags {

}

div #content {
  display: block;
}
body {
  margin: 0;
  background: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;;
  font-style: normal;
  font-weight: 400;
}

#footer nav ul {
  list-style-type: none;
}

footer {
  background-color: #91c2bc;;
  min-height: 80px;
  margin-top: 20px;
  color: white;
}

footer nav li {
    background-color: #91c2bc;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
}

footer nav ul {
    background-color: transparent;
}

footer nav {
  background-color: transparent;
}

#page {
  background-color: white;
  width: 100%;
}

aside {
  /*border: 1px dashed black;*/
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  max-width: 20em;
  vertical-align: top;
}

aside time {
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
}

aside:nth-child(2n+1){
    border: 1px solid #0a504b;
}
aside:nth-child(2n){
    border: 1px solid #009d91;
}

aside:nth-child(3n) {
    border: 1px solid #91c2bc;
}

aside:nth-child(2n+1) time {
    background-color: #0a504b;
    color: white;
}
aside:nth-child(2n) time {
    background-color: #009d91;
    color: black;
}

aside:nth-child(3n) time {
    background-color: #91c2bc;
    color: black;
}

aside p {
  background-color: white;
  padding: 0 0.5em 0 0.5em;
}
aside time span {
    margin-right: 0.25em;
}

aside h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.context {
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
    width: 80%;
}
.rightbar {
    vertical-align: top;
    display:inline-block;
    margin-right: 0.5em;
}

.issues {
    border-left: 0.125em solid #0a504b;
    display: block;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    padding-top: 0.125em
}

.partners {
    display: block;
    border-left: 0.125em solid #0a504b;
    padding-left: 0.25em;
}
.ad {
    display: block;
    width: 100%;
    min-height: 3em;
    background-color: #009d91;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #0a504b;
}
h3 {
    color: #009d91;
}

h4 {
    color: #91c2bc;
}